---
import '@fontsource/dancing-script';
import '@fontsource-variable/bodoni-moda';
import '@fontsource/aboreto';
import '@fontsource-variable/playfair-display';
import '../styles/global.css';

// Importamos los componentes que viviran dentro del Layout
import AnimatedEnvelope from '../components/AnimatedEnvelop.astro';
import SeccionMusica from '../components/MusicSectionStandard.astro';

interface Props {
    // Datos de la Página
    Title: string;
    
    // Datos del Envelope (Sobre)
    TituloNombre: string;
    ColorSobre: string;
    FotoPrincipal: string;

    // Datos de la Música
    AudioUrl: string;
    TextoMusica: string;
}

const { 
    Title, 
    TituloNombre, 
    ColorSobre, 
    FotoPrincipal,
    AudioUrl,
    TextoMusica
} = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{Title}</title>
    </head>
    <body class="bg-white">

        <AnimatedEnvelope 
            TituloNombre={TituloNombre}
            ColorSobre={ColorSobre}
            FotoUrl={FotoPrincipal}
        />

        <SeccionMusica 
            AudioUrl={AudioUrl}
            TextoMusica={TextoMusica}
        />

        <main>
            <slot />
        </main>

    </body>
</html>